a
{
	color: #22FFFF;
}
body
{
	background: #FFFFFF;
	font-family: "Lora";
	font-size: 16px;
} 
header
{
	border: 1px solid red;
	background: #FFFFFF;
	color: #44AB33;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: relative;
	overflow: hidden;
}
header figure
{
	border: 1px solid red;
	float: left;
	position: absolute left;
}
header h1
{
	font-family: "Roboto";
	font-size: 1.87em;
	font-weight: normal;
	font-style: italic;
	text-align: right;
	margin: 0.8em 1em 0 0;
}
header #logo img
{
	width: 335px;
}



